@import '../../App.sass'

.container
    width: 553px
    margin-bottom: $formMarginBottom

.btn-container
    display: flex
    justify-content: space-between
    align-items: baseline

.link
    text-decoration: none
    color: $primaryColor
