@import '../../App.sass'

.input
    height: 44px
    @include flexColumn
    @include border
    font-size: $textSizeInput
    padding-left: 17px
    border: 1px solid $primaryColor
    box-shadow: 0px 0px 4px 0px
    color: $colorText

.label
    display: block
    color: $colorText
    font-size: 12px
    padding-bottom: 10px

.error-input
    border: 1px solid $errorColor

.error-text
    color: $errorColor
    font-size: 14px
    font-weight: 400px
    display: block

.size-password-input
    font-size: $bigSizeDots
