@import '../../App.sass'

.btn
    width: 124px
    height: 46px
    @include border
    color: $colorWhite
    cursor: pointer
    display: block
    margin-top: 16px
    font-size: 18px

.small-size-btn
    width: 83px
