@import '../../App.sass'

.menu-container
    position: absolute
    top: 0
    left: 0
    border-radius: 16px 4px 16px 4px
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5)
    min-width: 118px
    border: 1px solid $colorText
    background: $colorWhite

.list
    margin: 0 15px
    padding: 0

.list-item
    list-style-type: none
    cursor: pointer
    &:nth-child(1n),
        border-bottom: 1px solid $quickSilver
    &:last-child
        border-bottom: none
    & > *
        text-decoration: none
        // margin-right: -10px
        padding: 10px 0 10px 10px
        display: inline-block
        color: $colorText
        font-family: $fontHelvetica
