@import '../../App.sass'
@import '../../components/Input/Input.module.sass'

.registration-form
    width: 553px
    @include flexColumn
    align-items: flex-end
    margin-bottom: $formMarginBottom
