@import '../../App.sass'

.out-wrapper
    width: 100%
    background-color: $colorPlatinum

.inner-wrapper
    @include flex
    flex-direction: column
    max-width: 1440px
    margin: 0 auto
    background: $colorWhite
    height: 100vh
