@import '../../App.sass'
@import '../Input/Input.module.sass'

.avatar-wrapper
    border: 2px dashed $biscColor
    display: flex
    background-color: $bgColorBiscWithOpacity
    padding: 8px 17px 8px 5px
    align-items: flex-end

.avatar-container
    width: 100%
