@import '../../App.sass'
.container
    width: 100%
    background-color: $primaryColor
    position: fixed
    top: 0
    left: 0
    right: 0

.wrapper
    max-width: 1440px
    margin: 0 auto
    height: 100%

.row
    @include flex
    justify-content: space-between
    padding: 0 8px
    height: 100%

.logo
    color: $colorWhite
    @include linkDecorationNone

.login-link-container
    height: 50px
    @include flex
    & > a
        @include linkDecorationNone
        font-family: $fontHelvetica
