@import '../../App.sass'

.conteiner
    width: 100%
    width: 108px
    height: 108px
    @include flex
    color: $colorWhite
    border: 1px solid $colorText
    border-radius: 50%
    margin: 0 10px
    & span
        font-size: $maxAvatarTextSize
        display: block

.image-normal-size
    width: 39px
    height: 39px
    font-size: $minAvatarTextSize
    & span
        font-size: $minAvatarTextSize

.img
    width: 100%
    height: 100%
    border-radius: 50%
    object-fit: cover
    object-position: center
