$colorText: #6a6868
$quickSilver: #979797
$colorPlatinum: #e7E7e7
$primaryColor: #01c5c4
$errorColor: #ff6c26
$scondaryColor: #b8de6f
$orangeColor: #f39233
$biscColor: #f1e189
$bgColorBiscWithOpacity: rgba(241,225,137,0.1)
$colorWhite: #ffff
$minAvatarTextSize: 14px
$maxAvatarTextSize: 36px
$textSizeInput: 18px
$formMarginBottom: 175px
$bigSizeDots: 50px
$fontHelvetica: Arial, Helvetica, sans

@mixin border
    outline: none
    border-radius: 16px 4px 16px 4px
    border: 1px solid

@mixin flex
    display: flex
    align-items: center
    justify-content: center

@mixin flexColumn
    display: flex
    flex-direction: column

@mixin linkDecorationNone
    text-decoration: none
    color: $colorWhite

.bg-primary
    background: $primaryColor

.bg-bisc
    background: $biscColor

.bg-scondary
    background: $scondaryColor

.bg-orange
    background: $orangeColor
