@import '../../App.sass'

.container
    max-width: 745px
    margin: 0 auto
    word-break: break-word

.row
    display: flex

.container-msg
    display: flex
    flex-direction: column
.msg-date
    padding-top: 4px
    color: $colorText
    font-size: 12px

.msg
    @include border
    background-color: $scondaryColor
    border-color: $scondaryColor
    padding: 10px 9px 10px 11px
    font-size: $minAvatarTextSize
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5)
    color: $colorWhite
    font-family: $fontHelvetica

.row-reverse
    flex-direction: row-reverse
    & > * > .msg-date
        margin-left: auto
    & > * > .msg
        background-color: $primaryColor
        border-color: $primaryColor
